

.work-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}

.work-container li{
  list-style:none;
}

.back {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.work-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.work-main-image img {
  width: 100%;
  border-radius: 8px;
}

.section {
  margin-top: 40px;
}

.section h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.before-after {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.before-after img {
  width: calc(50% - 10px);
  border-radius: 6px;
}

.sub-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.sub-images img {
  width: calc(33.333% - 14px);
  border-radius: 6px;
}

/* PC表示時：ハンバーガーメニューを非表示 */
.menu-icon {
  display: none !important;
}

/* スマートフォン表示時：ハンバーガーメニューを表示 */
@media all and (max-width: 1000px) {
  .menu-icon {
    display: block !important;
  }
  
  .before-after img {
    width: 100%;
  }
  
  .sub-images img {
    width: 100%;
  }
}
