* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container h2{
	color: #696969;
}
.top-wrapper {
  padding: 50px 0 50px 0;
  text-align: center;
}

.top-wrapper-icon{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #696969;
	padding: 100px 100px;

}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper p {
  margin-bottom: 20px;
}



.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(255,255,0,0.92);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: #696969;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.9);
}


.lesson-wrapper {
  height: 100%;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}
.lessons{
	padding: 30px 0 30px 0;
}

.lesson {
  float: left;
  width: 25%;
	display: block;
}


.lesson-icon img{
	width: 100%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.about {
  text-align: center;
	height: 700px;
	padding-top: 80px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 100px;
}

.about-contents{
	padding-bottom: 40px;
}

.about-contents h1{
	color: #696969;

}
.about-text{
	display: block;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
	text-align: center;
}
.about-left{
	float: left;
	width: 35%;
	text-align: left;
	margin-left: 10%;
	margin-right: 5%;
	color: #696969;
}

.about-right{
	float: right;
	width: 40%;
	margin-right: 10%;
	padding-top: 20px;
}

.sp-about{
		display: none;
}


.contact{
	height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #696969;
background-color: rgb(220,220,220);
}




/* inputとtextareaのCSSを指定してください */
input, textarea{
  width: 400px;
  margin: 10px 0 30px 0;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #696969;
}

/* contact-submitのCSSを指定してください */
.contact-submit{
  background-color: #696969;
  color: white;
}

.contact-submit:hover{
	background-color: #939292;
}
footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer h3{
	color: #696969;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
	.logo{
		width: 80%;
		display: block;
		margin-top: 15px;
	}
.header-right {
  display: none;
}
.menu-icon{
  color: black;
  font-size: 25px;
  margin: 0;
  float: right;
display: block;
}



	.lesson {
    width: 50%;
    margin-bottom: 50px;
	  display: block;
  }

  .lesson-wrapper {
    height: 100%;
  }
.about {
  text-align: center;
	height: 800px;
	padding-top: 80px;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 30px;
}
.about-left{
	float: left;
	width: 35%;
	text-align: left;
	margin-left: 10%;
	margin-right: 5%;
	color: #696969;
}

.about-right{
	float: right;
	width: 40%;
	margin-right: 10%;
	padding-top: 20px;
}
  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
	.header-right{
		display: none;
	}
	.menu-icon{
  color: black;
  font-size: 25px;
  margin: 0;
  float: right;
display: block;
}
	.logo{
		width: 80%;
		display: block;
		margin-top: 20px;
	}
  .heading h2 {
    font-size: 20px;
  }
.top-wrapper-icon{
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 20px;
	color: #696969;
	padding: 100px 100px;

}
	
.about {
	display: none;
}

.sp-about{
		display: block;
	margin: 0 auto;
	padding-bottom: 80px;
}
	.sp-about-icon{
		padding-left: 100px;
		padding-right: 100px;
	}
.sp-about-text{
		padding-left: 100px;
		padding-right: 100px;
	}
.sp-about-title{
		color: #696969;
	    text-align: center; 
}	
@media all and (max-width: 670px) {
	.logo{
		width: 80%;
		display: block;
		margin-top: 20px;
	}
	.header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }
	.menu-icon{
  color: black;
  font-size: 25px;
  float: right;
display: block;
}
  .top-wrapper .btn {
    width: 100%;
  }
.top-wrapper-icon{
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 20px;
	color: #696969;
	padding: 100px 100px;

}
  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    
  }

  .top-wrapper p {
    font-size: 14px;
  }
	.top-wrapper-icon{
		display: block;
			}
	.lesson {
    width: 50%;
    margin-bottom: 50px;
 }
  .lesson-wrapper {
    height: 100%;
  }
.about {
  	display: none;
}
.sp-about{
		display: block;
	padding-bottom: 80px;
}
.sp-about-title{
		color: #696969;
	    text-align: center; 
}
	
	.message-wrapper .btn {
    width: 100%;
  }
}